@import "../media-queries.scss";

button.shift {
	margin-left:-15px;
}

@media #{$mobile} {
	.tooltip-container {
		display:block;
		visibility:visible;
		position:static;
		margin:0 auto;
	}

	.inventory-button {
		position:absolute;
		top:2px;
	}

	.inventory-button.left {
		left:15px;
	}

	.inventory-button.right {
		right:-5px;
	}

	.tooltip-overflow {
		overflow:hidden;
	}
}