<div class="row" id="rift-table">
	<div class="small-30 large-30 columns">
		
		<section class="dungeon" data-ng-repeat="(dungeon,obj) in riftloot.loot.expert">
			<h5>{{dungeon}}: Expert</h5>
			<div class="row">
			<div class="small-30 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-5 boss-grid">
				<li data-ng-repeat="(bossName,boss) in obj | getOrder:'order'">
					<ul class="boss">
						<li class="boss-name">{{boss.name}}</li>
						<li data-ng-repeat="item in boss.loot | orderBy:'name_en'" class="item-name">
							{{item.name_en}}
						</li>


					</ul>
				</li>
			</ul>
			</div>
			</div>
		</section>
		
	</div>
</div>