<div class="row">
	<aside class="side-nav" bs-side-nav-position="">
		<div ng-repeat="slot in lootByRole.slots">
			<div bs-slot-selector="slot" bs-activate-slot="lootByRole.selectSlot(slot);" ng-hide="lootByRole.hideSlot(slot);"></div>
		</div>
	</aside>

		<div class="small-30 columns main-content">
		<div class="row collapse">
			<div class="small-30 columns">
				<form class="dungeon">
					<h5>Stat Weights</h5>
					<div bs-stat-weight-form calling="::header.data.calling" role="::header.data.role" stat-weights="lootByRole.statWeights" stat-weight-defaults="lootByRole.statWeightDefaults"></div>
					<div class="form-footnote">Stat weights change based on your current gear and role. The default values not intended for players of all gear levels.</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="small-30 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-5 dungeon">
				<li ng-repeat="item in lootByRole.loot[lootByRole.slot] | orderBy:'itemValue':true" ng-class="::item.rarity.toLowerCase()">
					<div bs-rift-tooltip="::item">
						<div class="tooltip-hr"></div>
						<div class="tooltip-value">Value: {{lootByRole.getReadableValue(lootByRole.getValue(item))}}</div>
					</div>
				</li>

			</ul>
			</div>
		</div>
		</div>

</div>