<div class="row">
	<aside class="side-nav" bs-side-nav-position="">
		<div class="side-nav-collapse"></div>
		<div class="side-nav-link">Helmet</div>
		<div class="side-nav-link">Cape</div>
		<div class="side-nav-link">Shoulders</div>
		<div class="side-nav-link">Chest</div>
		<div class="side-nav-link">Gloves</div>
		<div class="side-nav-link">Belt</div>
		<div class="side-nav-link">Legs</div>
		<div class="side-nav-link">Feet</div>
		<div class="side-nav-link">Earring</div>
		<div class="side-nav-link">Neck</div>
		<div class="side-nav-link">Trinket</div>
		<div class="side-nav-link">Ring</div>
		<div class="side-nav-link">Seal</div>
		<div class="side-nav-link">Main Hand</div>
		<div class="side-nav-link">Off Hand</div>
		<div class="side-nav-link">Two Hand</div>
		<div class="side-nav-link">Ranged</div>
		<div class="side-nav-link">Greater</div>
		<div class="side-nav-link">Lesser</div>
	</aside>

	

	<div class="small-30 large-30 columns main-content">
		<section class="dungeon" ng-repeat="slot in lootByRole.slots" bs-collapse-dungeon="">
			<h5>
			<i ng-class="{'fi-plus':!expanded,'fi-minus':expanded}"></i>
			<span ng-bind="slot"></span>
			</h5>
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-5 boss-grid">
				<li ng-repeat="item in lootByRole.loot[slot]" ng-class="item.rarity.toLowerCase()">
					<div bs-rift-tooltip="item"></div>
				</li>

			</ul>
		</section>


	</div>
</div>