<div class="row">
	<div class="medium-30 large-15 columns">
		<h1 class="splash-header">loot by location</h1>
		<div class="row">
			<div class="small-30 medium-15 columns">
				<a class="location-btn" data-ng-href="#/location/{{header.data.tier}}/{{header.data.calling}}/{{header.data.locale}}">
					expert
				</a>
			</div>
			<div class="small-30 medium-15 columns">
				<a class="location-btn" data-ng-href="#/location/{{header.data.tier}}/{{header.data.calling}}/{{header.data.locale}}">
					raid i
				</a>
			</div>
		</div>
	</div>
	<div class="small-30 columns hide-for-large-up role-divider"></div>
	<div class="medium-30 large-15 columns bg-role">
			<h1 class="splash-header">loot by role</h1>
			<div class="row">
				<div class="small-30 columns">
					<div class="calling-box cleric">
						<img src="img/icon_cleric.png" />
						<div>
							<div class="row">
								<div class="small-30 columns calling-title">cleric</div>
							</div>
							<div class="row">
								<div class="small-30 medium-15 columns">
									<a class="calling-link cleric">Damage</a>
								</div>
								<div class="small-30 medium-15 columns">
									<a class="calling-link cleric">Tank</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-30 columns">
					<div class="calling-box mage">
						<img src="img/icon_mage.png" />
						<div>
							<div class="row">
								<div class="small-30 columns calling-title">mage</div>
							</div>
							<div class="row">
								<div class="small-30 medium-15 columns">
									<a class="calling-link mage">Damage</a>
								</div>
								<div class="small-30 medium-15 columns">
									<a class="calling-link mage">Tank</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-30 columns">
					<div class="calling-box rogue">
						<img src="img/icon_rogue.png" />
						<div>
							<div class="row">
								<div class="small-30 columns calling-title">rogue</div>
							</div>
							<div class="row">
								<div class="small-30 medium-15 columns">
									<a class="calling-link rogue">Damage</a>
								</div>
								<div class="small-30 medium-15 columns">
									<a class="calling-link rogue">Tank</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="small-30 columns">
					<div class="calling-box warrior">
						<img src="img/icon_warrior.png" />
						<div>
							<div class="row">
								<div class="small-30 columns calling-title">warrior</div>
							</div>
							<div class="row">
								<div class="small-30 medium-15 columns">
									<a class="calling-link warrior">Damage</a>
								</div>
								<div class="small-30 medium-15 columns">
									<a class="calling-link warrior">Tank</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>