@import 'splash.scss';
@import 'social-bar.scss';
@import 'content.scss';
@import 'footer.scss';
@import 'portfolio/portfolio';

body {
	font-family: Roboto,Sans-Serif;
	background-color:hsla(270,5,92,1);
	max-width:100%;
	overflow-x:hidden;
}

a:hover,a:active {
	text-decoration:none;
}