#kf-table {
	color:#333333;
	background:none;
	height:100%;
	text-align:center;
	font-size:14px;
}

.table-container {
	display:inline-block;
	background-color:#FFFFFF;
	padding:12px;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
}

table.kf-table {
	border:none;
	white-space:nowrap;
	margin-left:auto;
	margin-right:auto;
}

table.kf-table thead td {
	text-align:center;
	padding:8px 16px;
}

table.kf-table thead td img {
	height:32px;
	width:32px;
}

table.kf-table tbody th {
	text-align:left;
	border-top:1px #AB1C1B solid;
	border-bottom:1px #AB1C1B solid;
	padding:0px 10px;
	font-weight:normal;
}

table.kf-table tbody td {
	border-top:1px #AB1C1B solid;
	border-bottom:1px #AB1C1B solid;
	text-align:center;
	font-size:18px;
	padding:0px 6px;
	width:24px;
}

.alternate {
	background-color:#F1F1F1;
}

table.kf-table tfoot td{
	text-align:center;
}

table.kf-table tfoot img {
	height:12px;
	width:12px;
}