form > section {
	padding:8px 20px;
	margin:12px;
}

.shard-container {
	padding-bottom:12px;
}

.strong {
	font-weight:700;
}

form md-switch {
	padding: 4px 0px;
}

.settings-header {
	color:rgb(69,39,160);
}

.settings-disabled {
	color:rgba(0,0,0,.54);
}