@import "settings.scss";

button.md-button.menu-icon {
	background:none;
	border:none;
	padding:12px;
	margin:8px;
	border-radius:50%;
}

.menu-icon object {
	pointer-events:none;
}

footer {
	position:absolute;
	width:100%;
	bottom:0;
	padding:12px;
	text-align:center;
}

.social-container {
	padding:12px 12px;
}

.social-link {
	display:inline-block;
	margin:0px 6px;
}

.footer-link > span {
	font-size:13px;
	text-decoration:none;
}

.rift-plane {
	width:64px;
	height:64px;
	background-color:blue;
	margin:12px;
	border-radius:50%;
}

.md-tile-content > p {
	color:rgba(0,0,0,.54);
}

.md-button.side-nav-link {
	color: rgba(0,0,0,0.87);
	padding:20px;
}

.side-nav-link object {
	margin: 0 20px 0 0;
}

.tagged {
	color:rgba(0,0,0,0.26);
}
.tagged p {
	color:inherit;
}

.no-label div.md-label {
	border:none;
}