<md-content class="md-padding">
	<section class="md-whiteframe-z2">
	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<span>Settings</span>
		</h2>
	</md-toolbar>
	<form layout="row">

		<md-radio-group>
		<label class="radio-label">Language</label>
			<md-radio-button value="English" aria-label="English">English</md-radio-button>
			<md-radio-button value="French" aria-label="French">French</md-radio-button>
			<md-radio-button value="German" aria-label="German">German</md-radio-button>
		</md-radio-group>
	</form>
	</section>
</md-content>