body {
	font-family: 'Roboto', sans-serif;
}

.navbar-nav > li > a {
	padding-top:5px;
	padding-bottom:5px;
}
.navbar {
	min-height:28px;
	background-color:#FFFFFF;
}
.navbar-brand {
	padding:5px 15px;
	margin-right:20px;
	height:30px;
	text-decoration:none;
}
.navbar-toggle {
	padding:2px;
}

#mainContent {
	padding-top:60px;
}

.nav-small-brand {
	margin-right:0px;
	padding-right:15px;
	font-size:15px;
}

.search {
	line-height:20px;
	font-size:14px;
	margin-top:4px;
	border:none;
	text-align:right;
	width:200px;
}

.search-icon {
	color:#EEEEEE;
	font-size:14px;
	margin:4px;
}

input:focus {
	outline:none;
	border:none;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color:#FFFFFF;
	font-size:12px;

}

footer span {
	margin-left:6px;
}

.footerLink {
	float:right;
	margin:0px 6px;
}


.project-container {
	padding:0px 14px 14px 14px;
	border:1px solid #EEEEEE;
	margin-bottom:20px;
}


.app-btn {
	display:block;
	color:#FFFFFF;
	width:100%;
	font-size:15px;
	padding:4px;
	text-align:center;
}

.app-btn:hover {
	text-decoration:none;
	display:block;
	color:#FFFFFF;
	width:100%;
	font-size:15px;
	padding:4px;

	text-align:center;
}

.rift-btn {
	background-color:#663399;
}

.rift-btn:hover {
	background-color:#8A45CF;
}

.kf-btn {
	background-color:#6B1717;
}
.kf-btn:hover {
	background-color:#AB1C1B;
}
