<div class="row" id="rift-table">
	<div class="col-md-12">
		<div class="table-container">
		<table class="rift-table">
		
			<thead>
				<tr>
					<th><a href="" data-ng-click="riftevents.sort('shard')">Shard</a></th>
					<th><a href="" data-ng-click="riftevents.sort('zone')">Zone</a></th>
					<th><a href="" data-ng-click="riftevents.sort('name')">Event</a></th>
					<th><a href="" data-ng-click="riftevents.sort('level')">Level</a></th>
					<th><a href="" data-ng-click="riftevents.sort('started')">Started</a></th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="event in riftevents.events | orderBy:riftevents.predicate:reverse">
					<td>{{ event.shard }}</td>
					<td>{{ event.zone }}</td>
					<td>{{ event.name }}</td>
					<td>f</td>
					<td>{{ event.time }}</td>
				</tr>
			</tbody>

		</table>
		</div>
	</div>

</div>