<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">Region: {{header.data.region}}<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		<li><a data-dropdown-toggle data-ng-click="changeRegion('US')">US</a></li>
		<li><a data-dropdown-toggle data-ng-click="changeRegion('EU')">EU</a></li>
		</ul>
	</li>

	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">Language: {{header.data.language}}<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		<li><a data-dropdown-toggle data-ng-click="changeLanguage('English')">English</a></li>
		<li><a data-dropdown-toggle data-ng-click="changeLanguage('French')">French</a></li>
		<li><a data-dropdown-toggle data-ng-click="changeLanguage('German')">German</a></li>
		</ul>
	</li>
</ul>