<!--Table of map achievements-->
<div class="row" id="kf-table">
	<div class="col-sm-12">
	<div class="table-container">
	<table class="kf-table">

		<thead>
			<tr>
				<th></th>
				<td data-ng-repeat="player in comparemaps.players" data-ng-show="player.data.kfstats" colspan="4" ng-class-odd="'alternate'">
					<a data-ng-href="{{player.data.summary.profileUrl}}"><img data-ng-src="{{player.data.summary.avatar}}" /></a>
				</td>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="(key,map) in comparemaps.kfMaps">
				<th>
					{{key}}
				</th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[0]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[1]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[2]]"></span>
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[3]]"></span>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<th></th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/normal.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hard.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/suicidal.png" />
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hellonearth.png" />
				</td>
			</tr>
		</tfoot>

	</table>
	</div>
	</div>
</div>
