<!--Input when first visiting-->
<div class="row" id="input">
	<div class="small-12 large-6 large-offset-3 columns">
		<label>Identify a player on Steam to get started. <a data-tooltip-placement="bottom" ><i class="fi-social-steam"></i></a> </label>
		<form>
			<div class="row">
				<div class="small-12 columns">
					<input class="small-12 columns" placeholder="SteamID64 or CustomURL" data-ng-model="input.input" data-ng-enter="input.kfSearch(input.input)" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<a 
						class="expand button" 
						data-ng-click="input.kfSearch(input.input)">View Stats
					</a>
				</div>
			</div>
		</form>
	</div>
</div>