@import "../media-queries.scss";
@import "./inventory-slot.scss";

.inventory-container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:center;
	align-content:center;
	justify-content:center;
	height:316px;
	margin-top:20px;
	padding:8px;
	background-color:#12110f;
	@media #{$tablet} {
		height:286px;
	}
}

.inventory-section {
	width:100%;
	@media #{$mobile} {
		display:none;
	}
}

.inventory-button {
	height:100%;
}