@import "../media-queries.scss";
@import "./inventory-slot.scss";

.inventory-container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:center;
	align-content:center;
	justify-content:center;
	height:340px;
	margin-top:20px;
	padding:8px;
	background-color:#12110f;
	@media #{$tablet} {
		height:310px;
	}
}

.inventory-section {
	width:100%;
	@media #{$mobile} {
		display:none;
	}
}

.inventory-button-container {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	align-items:center;
}

.inventory-button {
	padding:0;
	background:none;
	border:none;
	outline:none;
	color:#aaa;
}

.inventory-button.disabled,.inventory-button.disabled:hover {
	cursor:default;
	color:#171717;
}

.inventory-button:hover {
	color:#eee;
}

svg {
	fill:currentColor;
}