@import "../media-queries.scss";

.inventory-slot {
	margin:2px;
	width:50px;
	height:50px;
	background-color:#150D0A;
	border:1px solid #302a21;
	border-radius:4px;
	position:relative;

	@media #{$tablet} {
		width:45px;
		height:45px;
	}
}

.inventory-slot.large {
	height:104px;
	@media #{$tablet} {
		height:94px;
	}
}

.inventory-image {
	width:100%;
	height:100%;
	border-radius:4px;
	background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
	z-index:3;
	position:absolute;
}

.inventory-bg {
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:4px;
	overflow:hidden;
	z-index:1;
	position:absolute;
}

.tooltip-link {
	width:100%;
	height:100%;
	border-radius:4px;
	display:block;
	position:absolute;
	cursor:pointer;
	z-index:5;
}

.tooltip-container {
	visibility:hidden;
	z-index:6;
	position:absolute;
}

.tooltip-link:hover ~ div.tooltip-container {
	visibility:visible;
	display:block;
}

.tooltip-link:hover ~ div.sockets-wrapper {
	display:flex;
}

.tooltip-link:hover {
	background-color:rgba(255, 255, 255, 0.05);
}

.sockets-wrapper {
	width:100%;
	height:100%;

	position:absolute;
	top:0;
	left:0;
	z-index:4;

	display:none;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.sockets-align {
	display:block;
	width:24px;
	vertical-align:middle;
}

.socket {
	margin:4px;
	display:block;
	clear:both;
	vertical-align:middle;
	width:16px;
	height:16px;
	background-image:url('/kadala/img/skill-overlays.png');
	background-position: 0px -40px;
	background-size:600%;
	background-repeat:no-repeat;
	text-align:center;
}

.inventory-item-gradient {
	display: block;
	border-radius: 4px;
	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;
	z-index:2;

	background-image: url("//us.battle.net/d3/static/images/item/icon-bgs/gradient.png"); /* fallback */
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	background-image:         linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));

}