@import "../../libs/foundation/scss/normalize.scss";
@import "./media-queries";

@import "d3-tooltip.scss";
@import "./options-panel/options-panel.scss";
@import "./inventory/inventory.scss";
@import "./kadala-store/kadala-store.scss";
@import "./common/navbar.scss";
@import "./common/footer.scss";
@import "./individual-item/individual-item.scss";

body {
	background:#222;
	font-family: 'Lato', sans-serif;
	overflow:hidden;
}

.tooltip-container {
	display:block;
	box-sizing:content-box;
	background:#000;
	color:#CFB991;
	font-size:12px;
	padding:1px;
	border:1px solid #322a20;
	width:355px;
	border-radius:2px;
	box-shadow: 0 0 10px #000;
}

.tooltip-container div {
	box-sizing:content-box;
}

.tooltip-container .tooltip-content {
	width:auto;
	height:auto;
}

.d3-tooltip {
	margin:0;
	border:0;
	outline:0;
}

@media #{$mobile} {
	.unhide {
		display:block !important;
	}
}

.container-fluid {
	min-height:calc(100vh - 90px);
}
.body {
	min-height:100vh;
}