<div layout="row">
<md-list flex>
	<md-item ng-repeat="event in riftevents.events" ng-class="{tagged:event.tagged}" ng-show="::riftevents.showEvent(event)">
		<md-item-content>
			<div class="md-tile-left">
				<md-checkbox ng-model="event.tagged" aria-label="Tagged" ng-click="riftevents.tag(event)" class="no-label md-primary md-hue-3">
				</md-checkbox>
			</div>
			<div class="md-tile-content">
				<h3>{{ ::riftevents.getName(event) }}</h3>
				<h4>{{ ::riftevents.getZone(event.zone) }} - {{ ::event.shard }}</h4>
				<p>{{ riftevents.getDisplayedTime(event.started) }}</p>
			</div>
			<div class="md-tile-right">
				<img class="event-img"></img>
			</div>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item ng-if="riftevents.noMore()">
		<div class="md-tile-left"></div>
		<div class="md-tile-content">
			<h4>No more events available.</h4>
			<p>Checking again soon.</p>
		</div>

	</md-item>
</md-list>
</div>