<form flex>
	<section class="md-whiteframe-z1">
	<h3>Language</h3>

	<md-radio-group ng-model="settings.data.language">
		<md-radio-button value="English" aria-label="English">English</md-radio-button>
		<md-radio-button value="French" aria-label="French">French</md-radio-button>
		<md-radio-button value="German" aria-label="German">German</md-radio-button>
	</md-radio-group>
	</section>

	<section class="md-whiteframe-z1">
	<h3>Desktop Notifications</h3>
	</section>


	<section class="md-whiteframe-z1">
		<div layout="row">
			<h3 flex="50">Shards</h3>
			<md-switch ng-model="settings.data.pvp" class="md-warn" ng-change="settings.togglePvp(this)" flex="50">PvP</md-switch>
		</div>
		<div layout-gt-sm="row" layout-sm="column">
			<div flex-gt-sm="50" flex-sm="100" class="shard-container">
				<md-switch ng-model="settings.data.region.US.act" ng-change="settings.toggleRegion('US')" class="strong">US</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Seastone" class="md-warn">Seastone</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Greybriar">Greybriar</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Deepwood">Deepwood</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Wolfsbane">Wolfsbane</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Faeblight">Faeblight</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Laethys">Laethys</md-switch>
				<md-switch ng-model="settings.data.region.US.shard.Hailol">Hailol</md-switch>
			</div>

			<md-divider class="shard-divider" show-sm></md-divider>

			<div flex-gt-sm="50" flex-sm="100" class="shard-container">
				<md-switch ng-model="settings.data.region.EU.act" ng-change="settings.toggleRegion('EU')" class="strong">EU</md-switch>
				<md-switch ng-model="settings.data.region.EU.shard.Bloodiron" class="md-warn">Bloodiron</md-switch>
				<md-switch ng-model="settings.data.region.EU.shard.Gelidra">Gelidra</md-switch>
				<md-switch ng-model="settings.data.region.EU.shard.Zaviel">Zaviel</md-switch>
				<md-switch ng-model="settings.data.region.EU.shard.Brutwacht">Brutwacht</md-switch>
				<md-switch ng-model="settings.data.region.EU.shard.Brisesol">Brisesol</md-switch>
			</div>
		</div>
	</section>
	<section class="md-whiteframe-z1">
		<div layout="row">
			<h3>Events</h3>
		</div>
		<div layout="row"></div>
		
	</section>
</form>