<h3>Language</h3>
<div>
<md-radio-group>
	<md-radio-button value="English" aria-label="English">English</md-radio-button>
	<md-radio-button value="French" aria-label="French">French</md-radio-button>
	<md-radio-button value="German" aria-label="German">German</md-radio-button>
</md-radio-group>
</div>

<h3>Desktop Notifications</h3>



<h3>Region</h3>
<div>
<md-switch>US</md-switch>
<md-switch>EU</md-switch>
</div>

<h3>Shards</h3>
<div>
<md-switch>Bloodiron</md-switch>
<md-switch>Gelidra</md-switch>
<md-switch>Zaviel</md-switch>
<md-switch>Brutwacht</md-switch>
<md-switch>Brisesol</md-switch>
<md-switch>Seastone</md-switch>
<md-switch>Greybriar</md-switch>
<md-switch>Deepwood</md-switch>
<md-switch>Wolfsbane</md-switch>
<md-switch>Faeblight</md-switch>
<md-switch>Laethys</md-switch>
<md-switch>Hailol</md-switch>
</div>