<!--Input when first visiting-->
<div class="row" id="kf-input" data-ng-show="kf.viewInput">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="form-label">
			Identify a player on Steam to get started. <a data-tooltip-html-unsafe="{{kf.help}}"
			data-tooltip-placement="bottom" data-tooltip-animation="true"><span class="glyphicon glyphicon-question-sign"></span></a> 
		</p>
		<form class="form kf-form">
			<input class="kf-playerinput" placeholder="SteamID64 or CustomURL" data-ng-model="kf.input" data-ng-enter="kf.kfSearch()" />
				<div class="row btn-container">
				<div class="col-sm-6 btn-left-container">
				<button class="btn btn-left" data-ng-click="kf.setView(); kf.kfSearch()">View Stats</button>
				</div>
				<div class="col-sm-6 btn-right-container">
				<button class="btn" data-ng-click="kf.kfSearch(true)">Add Some Friends</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!--Controlling what players/friends are added-->
<div id="addFriends" data-ng-show="kf.viewPlayers">

	<div class="row">
		<div class="col-xs-12 kf-hr"></div>
	</div>

	<!--Controls and Instruction-->
	<div class="row controls-container add-player-bg">
		<!--Main Player-->
		<div class="col-xs-12 col-sm-6 col-md-4 player-card-col">
			<div data-bs-player-card="kf.players[0]" class="main-card privatecursor"></div>
		</div>
		<!--Filter and Controls-->
		<div class="col-xs-12 col-sm-6 col-md-4  add-player-bg">
			<input class="friend-filter" type="text" placeholder="Filter friends" data-ng-model="kf.filter"/>
			<div><span class="glyphicon glyphicon-question-sign"></span> Help</div>
		</div>
		<!--To the Table-->
		<div class="col-xs-12 col-sm-12 col-md-4 no-gutter">
			<button class="compare-btn" data-ng-click="kf.setView(); kf.showStats()">Compare these Players</button>
		</div>
	</div>

	<!--Horizontal Rule-->
	<div class="row">
		<div class="col-xs-12 kf-hr"></div>
	</div>

	<!--List of Friends to add-->
	<div class="row player-container add-player-bg test">
		<!--Manually Add a player block-->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 player-card-col">
			<div class="player-card">
				<span class="glyphicon glyphicon-plus add-icon" data-ng-click="kf.kfSearch()"></span>
				<input type="text" class="manual-input" placeholder="Manually add player" data-ng-model="kf.input" data-ng-enter="kf.kfSearch()" />
			</div>
		</div>
		<!--Friends List -->
		<div data-ng-repeat="player in kf.friends.concat(kf.players) | orderBy:'data.summary.personaName' | filter:kf.filter" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 player-card-col" data-ng-show="!player.userinput">
			<div data-bs-player-card="player" data-ng-click="kf.addPlayer(this.player)" data-ng-class="{playeradded: player.added, privatecursor: player.data.summary.communityVisibilityState === 1}">
				<!--private-->
				<span data-ng-show="player.data.summary.communityVisibilityState === 1" class="player-card-subtext player-card-private">This profile is private</span>
				<!--loading-->
				<div data-ng-show="player.ajax" class="player-card-subtext player-card-loading">Loading</div>
				<!--perks-->
				<div data-ng-show="player.added && player.data.kfstats" class="player-card-subtext">
					<div data-bs-perks="player.data.perks"></div>		
				</div>
				<!--no stats-->
				<div data-ng-show="!player.ajax && player.added && !player.data.kfstats" class="player-card-subtext player-card-private">Doesn't own Killing Floor</div>
			</div>
		</div>
	</div>

</div>

<!--Table of map achievements-->
<div class="row" id="kf-table" data-ng-show="kf.viewTable">
	<div class="col-sm-12">
	<div class="table-container">
	<table class="kf-table">

		<thead>
			<tr>
				<th></th>
				<td data-ng-repeat="player in kf.players" data-ng-show="player.data.kfstats" colspan="4" ng-class-odd="'alternate'">
					<a data-ng-href="{{player.data.summary.profileUrl}}"><img data-ng-src="{{player.data.summary.avatar}}" /></a>
				</td>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="(key,map) in kf.kfMaps">
				<th>
					{{key}}
				</th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[0]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[1]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[2]]"></span>
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[3]]"></span>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<th></th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/normal.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hard.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/suicidal.png" />
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hellonearth.png" />
				</td>
			</tr>
		</tfoot>

	</table>
	</div>
	</div>
</div>
