<!--Input when first visiting-->
<div class="row" id="kf-input" data-ng-show="!kf.showTable">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="form-label">
			Identify a player on Steam to get started. <a><span class="glyphicon glyphicon-question-sign"></span></a> 
		</p>
		<form class="form kf-form">

			<input class="kf-playerinput" placeholder="SteamID64 or CustomURL" data-ng-model="kf.input" data-ng-enter="kf.kfSearch()" />
				<div class="row btn-container">
				<div class="col-sm-6 btn-left-container">
				<button class="btn btn-left" data-ng-click="kf.kfSearch()">View Stats</button>
				</div>
				<div class="col-sm-6 btn-right-container">
				<button class="btn" data-ng-click="kf.kfSearch(true)">Add Some Friends</button>
				</div>
			</div>
		</form>
	</div>
</div>


<div id="addFriends" data-ng-show="kf.showPlayers">
<!--main player -->
<div class="row player-container">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 player-card-col">
		<div data-bs-player-card="kf.userInput.data.summary" class="player-card" data-ng-show="kf.userInput"></div>
	</div>
</div>
<!--Current Players on Table-->
<div class="row">
	<div data-ng-repeat="player in kf.players" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 player-card-col" data-ng-show="$index !== 0">
		<div data-bs-player-card="player.data.summary" class="player-card"></div>
	</div>
</div>
<!--Controls and Instruction-->
<div class="row">
	<div class="col-sm-4 remove-player-bg instruction">
		<span class="glyphicon glyphicon-arrow-up"></span><span>Select players above to remove</span>
	</div>
	<div class="col-sm-4 no-gutter">
		<button class="compare-btn">Compare these Players</button>
	</div>
	<div class="col-sm-4 add-player-bg instruction">
		<span class="glyphicon glyphicon-arrow-down"></span><span>Select players below to add</span>
	</div>
</div>
<!--List of Friends to add-->
<div class="row player-container add-player-bg">
	<div data-ng-repeat="friend in kf.friends" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 player-card-col">
		<div data-bs-player-card="friend" class="player-card" data-ng-click="kf.addPlayer(this.friend)"></div>
		<div class="add-player"></div>
	</div>
</div>

</div>

<!--Table of map achievements-->
<div class="row" id="kf-table" data-ng-show="kf.showTable">
	<div class="col-sm-12">
	<div class="table-container">
	<table class="kf-table">

		<thead>
			<tr>
				<th></th>
				<td data-ng-repeat="player in kf.players" data-ng-show="player.data.kfstats" colspan="4" ng-class-odd="'alternate'">
					<a data-ng-href="//www.steamcommunity.com/{{player.data.summary.profileUrl}}"><img data-ng-src="//media.steampowered.com/steamcommunity/public/images/avatars/{{player.data.summary.avatar}}" /></a>
				</td>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="(key,map) in kf.kfMaps">
				<th>
					{{key}}
				</th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[0]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[1]]"></span>
				</td>
				<td data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[2]]"></span>
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.maps" ng-class-odd="'alternate'">
					<span class="glyphicon glyphicon-stop" data-ng-show="player.data.maps[$parent.map[3]]"></span>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<th></th>
				<td data-ng-repeat-start="player in kf.players" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/normal.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hard.png" />
				</td>
				<td data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/suicidal.png" />
				</td>
				<td data-ng-repeat-end="" data-ng-show="player.data.kfstats" ng-class-odd="'alternate'">
					<img src="img/hellonearth.png" />
				</td>
			</tr>
		</tfoot>

	</table>
	</div>
	</div>
</div>
