button.menu-icon {
	background:none;
	border:none;
	padding:20px;
}

.menu-icon object {
	pointer-events:none;
}

footer {
	position:absolute;
	width:100%;
	bottom:0;
	padding:12px;
	text-align:center;
}

.social-container {
	padding:12px 12px;
}

.social-link {
	display:inline-block;
	margin:0px 6px;
}

.footer-link > span {
	font-size:13px;
	text-decoration:none;
}

.rift-plane {
	width:64px;
	height:64px;
	background-color:blue;
	margin:12px;
}