button.menu-icon {
	background:none;
	border:none;
	color:inherit;
	padding:20px;
}

footer {
	position:absolute;
	width:100%;
	bottom:0;
}

footer md-divider {
	margin-bottom:12px;
}

.social-container {
	padding:12px 12px;
}

.social-link {
	display:inline-block;
	margin:0px 6px;
}

.footer-link {
	text-align:center;
	font-size:14px;
	text-decoration:none;
}
