button.menu-icon {
	background:none;
	border:none;
	color:inherit;
	padding:20px;
}

footer {
	position:absolute;
	width:100%;
	bottom:0;
}

.social-container {
	padding:12px 12px;
}

.social-link {
	display:inline-block;
	position:relative;
	margin:0px 6px;
}
