<div class="row">
	<div class="col-md-4">
		<div class="rift-container">
		<h3 class="rift">Rift Event Tracker</h3>
		<p>A zone event tracker created for Rift by Trion Worlds utilizing the mobile APIs.</p>
		<a href="#/riftevents" class="app-btn rift-btn">Start App</a>
	</div>
	</div>

	<div class="col-md-4">
	<div class="kf-container">
		<h3 class="rift">Killing Floor Map Progress</h3>
		<p>Tracks your map progression through Steam Achievements</p>
		<a href="" class="app-btn kf-btn">Coming Soon</a>
	</div>
	</div>
</div>