@import "../media-queries.scss";

footer {
	margin-top:10px;
	padding:0px 15px;
	color:#666;
	height:30px;
	width:100%;
	display:block;
	clear:both;
	background:#121212;
	border-top:1px solid #63078B;
}

footer > span {
	height:30px;
	padding:2px;
}

footer a {
	color:#999;
}

footer a:hover, footer a:active {
	text-decoration:none;
	color:#ddd;
}

.footer-right {
	float:right;
}
.footer-left {
	float:left;
}

.footer-right > a {
	padding:4px;
}
