@import "../media-queries.scss";

#loading {
	z-index:100;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	font-size:3em;
	color:#ccc;
	text-align:center;
	background-color:#222;
	opacity:1;
	pointer-events:none;
	transition:all 1s ease 0s;
}

#loading > div {
	position:fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:8px;
	margin:0px 4px;
	background:#ccc;

	@media #{$mobile} {
		width:25px;
		height:25px;
		border-radius:4px;
	}
}