input {
	width:100%;
}

form > div {
	padding-bottom:12px;
}

.form-footnote {
	padding-left:$column-gutter/2;
	padding-right:$column-gutter/2;
	font-size:12px;
	color:#444;
}

ul.dungeon {
	margin-top:0px;
}