.rift-tooltip {
	font-weight:300;
	font-size:11px;
	display:block;
	white-space:normal;
	margin:0px;
	background-color:#222;
	padding:4px 8px;
	border: 1px solid #C2AC7D;
}

.tooltip-hr {
    height:1px;
    clear:both;
    background: -webkit-radial-gradient(#eee, #444, #222);
    background: -o-radial-gradient(#eee, #444, #222);
    background: -moz-radial-gradient(#eee, #444, #222);
    background: radial-gradient(#eee, #444, #222);
}

.tooltip-name {
	font-size:14px;
	font-weight:400;
}

.tooltip-text {
	color:#eee;
}