.rift-tooltip {
	font-weight:300;
	font-size:11px;
	display:block;
	white-space:normal;
	margin:0px;
	background-color:#222;
	padding:4px 8px;
	border: 1px solid #C2AC7D;
}

.tooltip-hr {
    height:1px;
    margin:4px auto;
    clear:both;
    background: -webkit-radial-gradient(#eee, #292929, #222);
    background: -o-radial-gradient(#eee, #292929, #222);
    background: -moz-radial-gradient(#eee, #292929, #222);
    background: radial-gradient(#eee, #292929, #222);
}

.tooltip-name {
	font-size:13px;
	font-weight:400;
}

.tooltip-text {
	color:#eee;
}

.tooltip-drop {
	font-size:10px;
	color:#C2AC7D;
}

.tooltip-value {
	font-size:11px;
	color:#D4D7AC;
}

.tooltip-set {
	font-size:10px;
	color:#6BD9CF;
}