$side-nav-width:rem-calc(120);
$side-nav-background:#222;

.side-nav {
	background-color:$side-nav-background;
	color:#ddd;
	box-shadow: inset -10px 0 10px -10px #000;
	display:block;
	top:0px;

	@media #{$large-up} {

		position:fixed;
		width:$side-nav-width;
		height:100vh;
		z-index:12;
		top:$topbar-height +4;
		bottom:-($topbar-height +4);
		left:0;
		overflow-x:hidden;
		overflow-y:auto;
	}
}

@media #{$large-up} {
	.main-content,footer.side-nav-push {
		padding-left: $side-nav-width + $column-gutter/2;
	}	

}

.side-nav-link.exit-off-canvas {
	position:static;
	background:transparent;
	border:none;
	box-shadow:none;

	font-size: rem-calc(14);
	line-height:rem-calc(14);
	cursor:pointer;
	padding:8px 0px 8px 8px;
	overflow:hidden;
	text-overflow:clip;
	white-space:nowrap;
}

.side-nav-divider {
	cursor:default;
	content: "";
	display:block;
	height:1px;
	margin:0px 8px;
	clear:both;
	background-color:lighten($side-nav-background, 10%)
}

.side-nav-collapse {
	display:block;
	position:absolute;
	background-color:red;
	width:4px;
	height:4px;
	top:4px;
	left:$side-nav-width;
	z-index:32;
}

.side-nav-selected {
	background-color:lighten($side-nav-background,10%);
	color:#eee;
	transition: all 0.6s ease 0s;
	box-shadow: inset -10px 0 10px -10px #000;
}

/*This pseudo element is to cover up the side-nav divider that isnt full width*/
.side-nav-selected::before {
	content:"";
	display:block;
	clear:both;
	width:100%;
	height:2px;
	margin-top:-2px;
	background-color:lighten($side-nav-background,10%);
	box-shadow: inset -10px 0 10px -10px #000;
	transition: all 0.6s ease 0s;
}