$bg-cleric:darken(rgba(76,175,80,0.4),20%);
$bg-mage:darken(rgba(103,58,183,0.4),20%);
$bg-rogue:darken(rgba(255,193,7,0.4),20%);
$bg-warrior:darken(rgba(211,47,47,0.4),20%);


.calling-box {
  height:128px + 16px;
  margin-bottom:12px;
  border:1px solid gray;
  padding:8px;
  border: 2px solid rgba(0,0,0,0.6);
}

.calling-box img {
  position:absolute;
	margin:0px;
  width:128px;
  height:128px;
}

.calling-box > div {
  height:100%;
	width:100%;
	padding-left:8px + 128px;
	margin:0px;
	display:inline-block;
  overflow-x:hidden;
}

.calling-title {
  color:#ddd;
  font-weight:500;
  font-size:rem-calc(48);
  font-variant:small-caps;
  line-height:rem-calc(48);

  @media #{$small-only} { 
    font-size:rem-calc(32);
    line-height:rem-calc(32);
  }

}

.calling-link {
	width: 100%;
  height:100%;
  display:block;
  text-align:center;
  color:#ddd;
  border:3px solid #ddd;
  font-size:rem-calc(16);
  font-weight:700;

  margin-top:8px;
  padding:4px;
  @media #{$medium-up} {
    font-size:rem-calc(24);
    margin-top:12px;
    padding:12px;
  }

  transition: all 0.3s ease 0s;

}

a.calling-link:hover {
  background-color:#ddd;
}

div.cleric {
  background-color:$bg-cleric;
}

div.mage {
  background-color:$bg-mage;
}

div.rogue {
  background-color:$bg-rogue;
}

div.warrior {
  background-color:$bg-warrior;
}

a.cleric:hover {
  color:rgba($bg-cleric,1);
}

a.mage:hover {
  color:rgba($bg-mage,1);
}

a.rogue:hover {
  color:rgba($bg-rogue,1);
}

a.warrior:hover {
  color:rgba($bg-warrior,1);
}

h1.splash-header {
  color:#f5f5f5;
  font-weight:500;
  font-variant:small-caps;
  text-shadow:0px 0px 4px #111;
}

.role-divider {
  background-color:rgba(0,0,0,0.6);
  height:4px;
  margin-top:12px;
}

@media #{$large-up} {
  .bg-role {
    border-left:4px solid rgba(0,0,0,0.6);
    min-height:calc(100vh - 39px - 26px);
  }
}

.location-btn {
  @extend .calling-link;
  font-size:rem-calc(48);
  line-height:rem-calc(48);
  font-variant:small-caps;
  font-weight:300;
  padding:0px 0px 12px 0px;
  margin-top:0px;

  @media #{$small-only} {
    margin-top:8px;
  }
}

.location-btn:hover {
  color:#333;
}